[Desktop Entry]
Version=1.0
Type=Application
Name=ChasquiFX Explorer
Comment=Flight and Forex Recommendations
Exec=bash -c 'cd /home/luisvinatea/DEVinatea/Repos/ChasquiFX && ./run_ChasquiFX.sh'
Icon=frontend/assets/ChasquiFX.png
Terminal=true
Categories=Finance;Travel;
